<header class="jumbotron text-center">
	<h2>Team Sangam Weather forecasting.</h2>
</header>
<br/>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form name="gAuth" ng-submit="googleLogin()">
				<span class="fa fa-google"></span><input class="btn btn-block btn-social btn-google" type="submit" value="Log in with Google"><br/>
			</form>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<hr/>
			<p class="text-center">or</p>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="text-center">Log in with your registered email address below</p>
				</div>
				<div class="panel-body">
					<form name="userForm" ng-submit="login()">
						<input class="form-control" placeholder="E-mail" type="text" name="email" ng-model="user.email"><br/>
						<input class="form-control" placeholder="Password" type="password" name="password" ng-model="user.password"><br/>
						<input class="btn btn-lg btn-info btn-block" type="submit" value="Login"><br/>
					</form>
					<div class="text-center">
						<p>{{ loginMessage }}</p>
					</div>
				</div>
				<div class="panel-footer">
					<p class="text-center">Not a member? Signup <a href="signup.html">here</a></p>
				</div>		
			</div>
		</div>
	</div>
</div>
<br/>
<footer class="page-footer">
	<p class="text-center">copyright 2016. Team Sangam.</p>
</footer>