# Ignore virtual environment
SGA-REST-login/services/weatherApp
SGA-REST-login/services/test.py
SGA-REST-login/services/__pycache__
SGA-REST-login/services/.idea


# Created by https://www.gitignore.io/api/pycharm

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
SGA-REST-login/services/.idea/workspace.xml
SGA-REST-login/services/.idea/tasks.xml
SGA-REST-login/services/.idea/dictionaries
SGA-REST-login/services/.idea/vcs.xml
SGA-REST-login/services/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
SGA-REST-login/services/.idea/dataSources.ids
SGA-REST-login/services/.idea/dataSources.xml
SGA-REST-login/services/.idea/dataSources.local.xml
SGA-REST-login/services/.idea/sqlDataSources.xml
SGA-REST-login/services/.idea/dynamic.xml
SGA-REST-login/services/.idea/uiDesigner.xml

# Gradle:
SGA-REST-login/services/.idea/gradle.xml
SGA-REST-login/services/.idea/libraries

# Mongo Explorer plugin:
SGA-REST-login/services/.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
SGA-REST-login/services/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# SGA-REST-login/services/.idea/misc.xml 
# *.ipr