<!doctype html>
<html ng-app = "sga_admin">
	<head>		
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<title>Science Gateway</title>
	</head>
	<body ng-controller="sga_admin_controller">
	    <header class="jumbotron text-center"> 
	    	<h2> Hello Admin. Welcome to the Science Gateway Weather Forecasting Portal. </h2>
	    </header>
	    
	    <div class="container">
	    	<div class ="row">
	    		<div class="col-md-1 col-md-offset-11">
	    			<form ng-submit="logout()">
	    				<input class="btn btn-md btn-danger btn-block" type="submit" value="Logout"><br>
	    			</form>
	    		</div>
	    	</div>
	    	<div class="row">
	        	<div class="col-md-4 col-md-offset-4">
	                    <div class="panel-body">
	                    	<form name="adminForm" ng-submit="pullAllUsers()">
	                    		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Pull all users"><br>
	                    	</form>   
	    				</div>
	          	</div>
	       	</div>
	       	<p class="text-center">{{message}}</p>
       		<table class="table table-bordered table-hover table-striped" ng-show="showUsers">
       			<thead>
	       			<tr>
	       				<th>User</th>
	       				<th>Request count</th>
						<th>Details</th>
	       			</tr>
	       		</thead>
	       		<tbody>
	       			<tr ng-repeat="row in stats">
	       				<td>{{ row._id }}</td>
	       				<td>{{ row.count }}</td>
						<td><button class="btn btn-sm btn-block" ng-click="pullUserStats(row._id)">Details</button></td>
	       			</tr>
	       		</tbody>
       		</table>
			<table class="table table-bordered table-hover table-striped" ng-show="showUserDetails">
       			<thead>
	       			<tr>
	       				<th>KeyID</th>
						<th>Session</th>
						<th>RequestID</th>
						<!-- <th>Requested data</th> -->
						<th>Orchestrator output</th>
						<th>Dataingestor output</th>
						<th>Stormclustering output</th>
						<th>Storm Detection output</th>
						<th>Forecast service output</th>
						<th>Run Forecast output</th>
	       			</tr>
	       		</thead>
	       		<tbody>
	       			<tr ng-repeat="row in stats">
	       				<td>{{ row.keyid }}</td>
						<td>{{ row.sessionid }}</td>
						<td>{{ row.requestid }}</td>
						<!-- <td>{{ row.request data }}</td> -->
						<td>{{ row.orchestrator }}</td>
						<td>{{ row.dataingestor }}</td>
						<td>{{ row.stormcluster }}</td>
						<td>{{ row.stormdetection }}</td>
						<td>{{ row.forecast }}</td>
						<td>{{ row.runforecast }}</td>
	       			</tr>
	       		</tbody>
       		</table>
	    </div>
	    <br/>     
	     
 		<footer class="page-footer">
			<p class="text-center">copyright 2016. Team Sangam.</p>
		</footer>
	</body>
</html>
<script src="scripts/angular.min.js"></script>
<script src="scripts/admin.js "></script>