<!doctype html>
<html ng-app="authModule">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
		<title>Login to the team Sangam gateway.</title>
	</head>
	
	<body ng-controller="loginController" >
		<header class="jumbotron text-center">
			<h2>Team Sangam Weather forecasting.</h2>
		</header>
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p class="text-center">Login with your registered email address below</p>
						</div>
						<div class="panel-body">
							<form name="userForm" ng-submit="login()">
								<input class="form-control" placeholder="E-mail" type="text" name="email" ng-model="user.email"><br/>
								<input class="form-control" placeholder="Password" type="password" name="password" ng-model="user.password"><br/>
								<input class="btn btn-lg btn-info btn-block" type="submit" value="Login"><br/>
							</form>
							<div class="text-center">
								<p>{{ loginMessage }}</p>
							</div>
						</div>
						<div class="panel-footer">
							<p class="text-center">Not a member? Signup <a href="signup.html">here</a></p>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<br/>
		<footer class="page-footer navbar navbar-fixed-bottom">
			<p class="text-center">copyright 2016. Team Sangam.</p>
		</footer>
	</body>
</html>
<script src="scripts/angular.min.js"></script>
<script src="scripts/home.js"></script>